# Read environmental data from an online source (Script)

In this example we will learn to download data from the Kansas mesonet. Data can be accessed through a URL (Uniform Resource Locator), which is also known as a web address. In this URL we are going to pass some parameters to specify the location, date, and interval of the data. For services that output their data in comma-separated values we can use the Pandas library.


**Note**:Some web services (e.g. openweathermap or dark sky) require a token (a user-specific key similar to a password) in order to use the service. Depending on the amount of data requested you might be able to use the service for free.


Representational State Transfer (REST). Find out more at <https://www.wikiwand.com/en/Representational_state_transfer>

Kansas mesonet REST API: http://mesonet.k-state.edu/rest/

Author: Andres Patrignani <br/>
Last updated: 14-Oct-2018

In [8]:
# Import packages
import pandas as pd

In [5]:
stn = 'Manhattan';
interval = 'day'; # Options: day, hour, 5min;
start_time = '20181001000000';
end_time = '20181007000000';

root = 'http://mesonet.k-state.edu/rest/stationdata/?'
url = root + 'stn=' + stn + '&int=' + interval + '&t_start=' + start_time + '&t_end=' + end_time;
datatable = pd.read_csv(url)

In [12]:
# Let's inspect the first five rows
datatable.head(3)

,TIMESTAMP,STATION,PRESSUREAVG,PRESSUREMAX,PRESSUREMIN,SLPAVG,TEMP2MAVG,TEMP2MMIN,TEMP2MMAX,TEMP10MAVG,...,SOILPA20CM,SOILPA50CM,SOILVR5CM,SOILVR10CM,SOILVR20CM,SOILVR50CM,VWC5CM,VWC10CM,VWC20CM,VWC50CM
0,2018-10-01 00:00:00,Manhattan,97.89,98.05,97.77,101.79,15.28,14.19,16.83,15.00,...,1.8010,2.1369,1.2035,1.2586,1.4377,2.1228,0.2367,0.2878,M,0.5141
1,2018-10-02 00:00:00,Manhattan,97.89,98.07,97.74,101.76,17.59,13.66,23.81,17.32,...,1.7970,2.1350,1.2093,1.2613,1.4347,2.1165,0.2391,0.2880,0.3727,0.5134
2,2018-10-03 00:00:00,Manhattan,97.63,98.05,97.18,101.48,21.65,12.30,31.47,21.48,...,1.7947,2.1339,1.2148,1.2632,1.4373,2.1144,0.2398,0.2867,0.3714,0.5129

In [14]:
print(datatable.shape)
print(datatable.size)

(7, 60)
420

In [6]:
# Access first precipitation value
datatable.PRECIP[0]

0.25

In [7]:
# Retrieve the first 5 rainfall values
datatable.PRECIP[0:5]

0     0.25
1     0.00
2     0.00
3    16.00
4     0.25
Name: PRECIP, dtype: float64

In [15]:
# Let's also inspect the format of some variables
print(type(datatable.TIMESTAMP[0]))
print(type(datatable.PRESSUREAVG[0]))

<class 'str'>
<class 'numpy.float64'>