# Pandas

Module about the most popular Python library to handle tabular data or time series. The library is powerful and extensive, so here I will cover some of the basic operation to help you loading some data.

The core concepts of the **Pandas** library is that you can call columns containing the same datatype by names. This allows you to handle the data without having to remember the exact location of a column. The catch is that each column has to contain data of the same type.

The most popular module of the **Pandas** library is probably *DataFrames*

Built on top of numpy. It can also handle missing values.

In [1]:
# First let's import the library
import pandas as pd

In [56]:
# Load file
root = '/Users/andrespatrignani/Dropbox/Teaching/Scientific programming/introcoding-spring-2019/Datasets/'
df = pd.read_csv(root + 'gypsum_ks_daily_2018.csv')

In [57]:
# Head function
df.head(3)

,TIMESTAMP,STATION,PRESSUREAVG,PRESSUREMAX,PRESSUREMIN,SLPAVG,TEMP2MAVG,TEMP2MMIN,TEMP2MMAX,TEMP10MAVG,...,SOILTMP10MAX,SOILTMP10MIN,SOILTMP5AVG655,SOILTMP10AVG655,SOILTMP20AVG655,SOILTMP50AVG655,VWC5CM,VWC10CM,VWC20CM,VWC50CM
0,1/1/18 0:00,Gypsum,99.44,100.03,98.73,104.44,-15.15,-19.56,-11.00,-15.31,...,-1.18,-2.45,-1.33,-1.14,0.74,3.50,0.1377,0.1167,0.2665,0.2203
1,1/2/18 0:00,Gypsum,99.79,100.14,99.40,104.88,-16.48,-22.10,-10.40,-16.38,...,-1.56,-3.46,-2.10,-1.82,0.28,3.13,0.1234,0.1021,0.2642,0.2196
2,1/3/18 0:00,Gypsum,98.87,99.52,97.94,103.81,-11.03,-20.64,-2.71,-10.66,...,-1.49,-3.61,-2.21,-1.93,-0.08,2.76,0.1206,0.0965,0.2353,0.2189

In [58]:
# Print names of each column
df.columns

Index(['TIMESTAMP', 'STATION', 'PRESSUREAVG', 'PRESSUREMAX', 'PRESSUREMIN',
       'SLPAVG', 'TEMP2MAVG', 'TEMP2MMIN', 'TEMP2MMAX', 'TEMP10MAVG',
       'TEMP10MMIN', 'TEMP10MMAX', 'RELHUM2MAVG', 'RELHUM2MMAX', 'RELHUM2MMIN',
       'RELHUM10MAVG', 'RELHUM10MMAX', 'RELHUM10MMIN', 'VPDEFAVG', 'PRECIP',
       'SRAVG', 'SR', 'WSPD2MAVG', 'WSPD2MMAX', 'WSPD10MAVG', 'WSPD10MMAX',
       'WDIR2M', 'WDIR2MSTD', 'WDIR10M', 'WDIR10MSTD', 'SOILTMP5AVG',
       'SOILTMP5MAX', 'SOILTMP5MIN', 'SOILTMP10AVG', 'SOILTMP10MAX',
       'SOILTMP10MIN', 'SOILTMP5AVG655', 'SOILTMP10AVG655', 'SOILTMP20AVG655',
       'SOILTMP50AVG655', 'VWC5CM', 'VWC10CM', 'VWC20CM', 'VWC50CM'],
      dtype='object')

In [59]:
# Check data types of each column
df.dtypes # Why does windDirection appear as an object?

TIMESTAMP           object
STATION             object
PRESSUREAVG        float64
PRESSUREMAX        float64
PRESSUREMIN        float64
SLPAVG             float64
TEMP2MAVG          float64
TEMP2MMIN          float64
TEMP2MMAX          float64
TEMP10MAVG         float64
TEMP10MMIN         float64
TEMP10MMAX         float64
RELHUM2MAVG        float64
RELHUM2MMAX        float64
RELHUM2MMIN        float64
RELHUM10MAVG       float64
RELHUM10MMAX       float64
RELHUM10MMIN       float64
VPDEFAVG           float64
PRECIP             float64
SRAVG              float64
SR                 float64
WSPD2MAVG          float64
WSPD2MMAX          float64
WSPD10MAVG         float64
WSPD10MMAX         float64
WDIR2M             float64
WDIR2MSTD          float64
WDIR10M            float64
WDIR10MSTD         float64
SOILTMP5AVG        float64
SOILTMP5MAX        float64
SOILTMP5MIN        float64
SOILTMP10AVG       float64
SOILTMP10MAX       float64
SOILTMP10MIN       float64
SOILTMP5AVG655     float64
SOILTMP10AVG655    float64
SOILTMP20AVG655    float64
SOILTMP50AVG655    float64
VWC5CM             float64
VWC10CM            float64
VWC20CM            float64
VWC50CM            float64
dtype: object

In [16]:
# Extract a column into a separate variable
windSpeed = df.windSpeed
windSpeed

0       2.2
1       3.2
2       2.7
3       4.5
4       1.8
5   -9999.0
Name: windSpeed, dtype: float64

In [49]:
# Alternative way of calling column data
df['windSpeed'] # Notice that there is no 'dot' after 'df'

0       2.2
1       3.2
2   -9999.0
Name: windSpeed, dtype: float64

In [50]:
# Count number of records for each variable
df.count()

doy              3
windSpeed        3
windDirection    3
precipitation    3
dtype: int64

In [51]:
# Stats
print(df.windSpeed.max())
print(df.windSpeed.min())
print(df.precipitation.cumsum())
print(df.windDirection.unique())

3.2
-9999.0
0     0
1    18
2    43
Name: precipitation, dtype: int64
['E' 'NW']

In [ ]:
df['windSpeed'].is

**Dissecting the dataframe above we find the following main components**:
1. header row containing column names
2. index (the left-most column with numbers from 0 to 4) is equivalent to a rwo name.
3. Each column has data of the same type. In this case *doy* is an integer, *windSpeed* is a float, and *windDirection* is a string

In [12]:
# Slicing: Select portions of data by calling specific rows, columns, or both
# Slicing follows this convention in Pandas DataFrames

# df[rows]
# df[columns]
# df[rows,columns]
# Notice that if you want to pass more than one row of column you will need to group them in a list

In [13]:
# Slicing by rows
# df[rows]

df[0:3]

   doy  windSpeed windDirection  precipitation
0    1        2.2             E              0
1    2        3.2            NW              0
2    3        2.7             N              0

In [14]:
# Slicing by columns
# df[columns]

df[['windSpeed','windDirection']]

# A common mistake when slicing multiple columns is to forget grouping column names into a list
# So, the following will not work:

# df['windSpeed','windDirection']

   windSpeed windDirection
0        2.2             E
1        3.2            NW
2        2.7             N
3        4.5             S
4        1.8            SW
5    -9999.0            SW

# Slicing using both rows and columns

`loc` gets rows (or columns) with particular labels from the index.

`iloc` gets rows (or columns) at particular positions in the index (so it only takes integers).

In [35]:
df.iloc[0:3,[1,2]] # Exclusive of its endpoint

   windSpeed windDirection
0        2.2             E
1        3.2            NW
2        2.7             N

In [33]:
df.loc[0:2,['windSpeed','windDirection']]

   windSpeed windDirection
0        2.2             E
1        3.2            NW
2        2.7             N

In [30]:
df.loc[0:2]

   doy  windSpeed windDirection  precipitation
0    1        2.2             E              0
1    2        3.2            NW              0
2    3        2.7             N              0

In [29]:
df.iloc[0:2] # Exclusive of its endpoint

   doy  windSpeed windDirection  precipitation
0    1        2.2             E              0
1    2        3.2            NW              0

In [20]:

# Using location
df.loc[0:2,'windSpeed']
df.loc[0:2,['windSpeed','windDirection']]


# These statements will not work
#df.loc[0:2,0:1]
#df.loc[[0:2],[0:1]]

   windSpeed windDirection
0        2.2             E
1        3.2            NW
2        2.7             N

In [16]:
# Filtering

# Select days of the year in which the wind speed was greater than 3 meters per second.
idx = df.windSpeed > 3
idx  # Let's inspect the idx variable. This is a boolean variable (either True or False)

0    False
1     True
2    False
3     True
4    False
5    False
Name: windSpeed, dtype: bool

In [17]:
# Now let's apply the boolean variable to the dataframe
df[idx]

   doy  windSpeed windDirection  precipitation
1    2        3.2            NW              0
3    4        4.5             S             18

In [18]:
# We can also apply the boolean variable to specific columns
# If we want to know what was the wind direction on days with wind speed greater than 3 m/s
df.loc[idx,'windDirection']

# Here a common mistake would be to do:
# df[idx,'windDirection']

1    NW
3     S
Name: windDirection, dtype: object

In [19]:
# Same but in one line of code. This is fine to do, sometimes (as the next example) it can get complex
# and hard to follow, so I recommend storing the boolean results in a new variable that is easier to pass
# around. This is particularly helpful if you are planning to re-use the boolean in multiple 
# lines of you code.

df.loc[df.windSpeed > 3,'windDirection']

1    NW
3     S
Name: windDirection, dtype: object

In [20]:
# Another popular way of filtering is to check whether an element or group of elements are within a set.
# If you come from Matlab the following example is similar to the ismember function

# Let's check whether January 1 and January 2 are in the dataframe.
idx_doy = df['doy'].isin([1,2])  #list(range(1,5))
idx_doy

0     True
1     True
2    False
3    False
4    False
5    False
Name: doy, dtype: bool

In [21]:
# Select and display all columns for the selected days of the year
df.loc[idx_doy,:]

   doy  windSpeed windDirection  precipitation
0    1        2.2             E              0
1    2        3.2            NW              0

In [22]:
# Replace missing values. In this particular case I assumed that missing values are not NaN or NA in the
# original dataset. So, tot ake advantage of the available machinery for missing values in Pandas we
# first need to convert missing value placeholders (such as -9999) into NA or NaN. I typically prefer
# to use NaN (personal preference since I also use Matlab frequently).

# In many datasets missing data may already by imported as NaN or NA, meaning that you can directly use
# the fillna() function within this intermediary step.

idx_missing = df.isin([-9999])
idx_missing

     doy  windSpeed  windDirection  precipitation
0  False      False          False          False
1  False      False          False          False
2  False      False          False          False
3  False      False          False          False
4  False      False          False          False
5  False       True          False          False

In [52]:
df[idx_missing] = np.nan
df

NameError: name 'np' is not defined

In [24]:
df.isna() # Note that the method 'isna' works for NA and for NaN

     doy  windSpeed  windDirection  precipitation
0  False      False          False          False
1  False      False          False          False
2  False      False          False          False
3  False      False          False          False
4  False      False          False          False
5  False      False          False          False

In [25]:
# Replace missing values with average values. This is not the best option, but at least it shows you how
# to replace missing values with a calculation on-the-fly.
# In this case the mean command calculates the average ignoring missing values 
# (as long as they are NaN or NA). A missing value represented as -9999 will not be skipped.

df.fillna(df.windSpeed.mean()) # Replace missing vwind speed alues with average wind speed values.

   doy  windSpeed windDirection  precipitation
0    1        2.2             E              0
1    2        3.2            NW              0
2    3        2.7             N              0
3    4        4.5             S             18
4    5        1.8            SW             25
5    6    -9999.0            SW              1

In [26]:
# Create Pandas dates
dates = pd.date_range('20190101', periods=6)
dates

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [27]:
# Add dates as a new column
df['dates'] = dates
df

   doy  windSpeed windDirection  precipitation      dates
0    1        2.2             E              0 2019-01-01
1    2        3.2            NW              0 2019-01-02
2    3        2.7             N              0 2019-01-03
3    4        4.5             S             18 2019-01-04
4    5        1.8            SW             25 2019-01-05
5    6    -9999.0            SW              1 2019-01-06

In [28]:
# Replace the index by a variables of our choice
df.set_index('doy')

     windSpeed windDirection  precipitation      dates
doy
1          2.2             E              0 2019-01-01
2          3.2            NW              0 2019-01-02
3          2.7             N              0 2019-01-03
4          4.5             S             18 2019-01-04
5          1.8            SW             25 2019-01-05
6      -9999.0            SW              1 2019-01-06

In [29]:
# Reset the index
df.reset_index(0)  # Note that the old index is added as a new column

   index  doy  windSpeed windDirection  precipitation      dates
0      0    1        2.2             E              0 2019-01-01
1      1    2        3.2            NW              0 2019-01-02
2      2    3        2.7             N              0 2019-01-03
3      3    4        4.5             S             18 2019-01-04
4      4    5        1.8            SW             25 2019-01-05
5      5    6    -9999.0            SW              1 2019-01-06