In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../datasets/ok_mesonet_8_apr_2019.csv', sep=',')

In [3]:
df.head(5)

,STID,NAME,ST,LAT,LON,YR,MO,DA,HR,MI,...,RELH,CHIL,HEAT,WDIR,WSPD,WMAX,PRES,TMAX,TMIN,RAIN
0,ACME,Acme,OK,34.81,-98.02,2019,4,15,15,20,...,,,,,,,,,,
1,ADAX,Ada,OK,34.80,-96.67,2019,4,15,15,20,...,40,,,S,12,20,1011.13,78,48,
2,ALTU,Altus,OK,34.59,-99.34,2019,4,15,15,20,...,39,,82,SSW,19,26,1007.86,82,45,
3,ALV2,Alva,OK,36.71,-98.71,2019,4,15,15,20,...,32,,82,S,20,26,1004.65,84,40,
4,ANT2,Antlers,OK,34.25,-95.67,2019,4,15,15,20,...,35,,,S,11,20,1013.64,78,38,

Some columns with empty cells. Ideally we would like to represent missing values with `NaN`. Be filling this cell we need to identify whether they are truly empty or something else is there (e.g. empty string).

In [5]:
# Print one the cells to see what's in there
df.loc[0,'RAIN']

' '

There is a string with a single space. Now we can use the `replace()` method to substitute these strings for `NaN` from the Numpy module.

The `inplace=True` replaces the string with `NaN` without generating a copy of the Pandas DataFrame

In [7]:
df.replace(' ', np.nan, inplace=True)

In [8]:
df.head(5)

,STID,NAME,ST,LAT,LON,YR,MO,DA,HR,MI,...,RELH,CHIL,HEAT,WDIR,WSPD,WMAX,PRES,TMAX,TMIN,RAIN
0,ACME,Acme,OK,34.81,-98.02,2019,4,15,15,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADAX,Ada,OK,34.80,-96.67,2019,4,15,15,20,...,40,NaN,NaN,S,12,20,1011.13,78,48,NaN
2,ALTU,Altus,OK,34.59,-99.34,2019,4,15,15,20,...,39,NaN,82,SSW,19,26,1007.86,82,45,NaN
3,ALV2,Alva,OK,36.71,-98.71,2019,4,15,15,20,...,32,NaN,82,S,20,26,1004.65,84,40,NaN
4,ANT2,Antlers,OK,34.25,-95.67,2019,4,15,15,20,...,35,NaN,NaN,S,11,20,1013.64,78,38,NaN

## Match specific stations

In [39]:
idx_acme = df['STID'].str.match('ACME')
df[idx_acme]

,STID,NAME,ST,LAT,LON,YR,MO,DA,HR,MI,...,RELH,CHIL,HEAT,WDIR,WSPD,WMAX,PRES,TMAX,TMIN,RAIN
0,ACME,Acme,OK,34.81,-98.02,2019,4,15,15,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
idx_starts_with_A = df['STID'].str.match('A')
df[idx_starts_with_A]

,STID,NAME,ST,LAT,LON,YR,MO,DA,HR,MI,...,RELH,CHIL,HEAT,WDIR,WSPD,WMAX,PRES,TMAX,TMIN,RAIN
0,ACME,Acme,OK,34.81,-98.02,2019,4,15,15,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADAX,Ada,OK,34.80,-96.67,2019,4,15,15,20,...,40,NaN,NaN,S,12,20,1011.13,78,48,NaN
2,ALTU,Altus,OK,34.59,-99.34,2019,4,15,15,20,...,39,NaN,82,SSW,19,26,1007.86,82,45,NaN
3,ALV2,Alva,OK,36.71,-98.71,2019,4,15,15,20,...,32,NaN,82,S,20,26,1004.65,84,40,NaN
4,ANT2,Antlers,OK,34.25,-95.67,2019,4,15,15,20,...,35,NaN,NaN,S,11,20,1013.64,78,38,NaN
5,APAC,Apache,OK,34.91,-98.29,2019,4,15,15,20,...,41,NaN,NaN,S,23,29,1008.9,80,49,NaN
6,ARD2,Ardmore,OK,34.19,-97.09,2019,4,15,15,20,...,41,NaN,NaN,S,18,26,1011.43,77,50,NaN
7,ARNE,Arnett,OK,36.07,-99.90,2019,4,15,15,20,...,10,NaN,85,SW,22,32,1005.13,NaN,NaN,NaN

In [50]:
idx_has_A = df['STID'].str.contains('A')
df[idx_has_A].head(15)

,STID,NAME,ST,LAT,LON,YR,MO,DA,HR,MI,...,RELH,CHIL,HEAT,WDIR,WSPD,WMAX,PRES,TMAX,TMIN,RAIN
0,ACME,Acme,OK,34.81,-98.02,2019,4,15,15,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADAX,Ada,OK,34.80,-96.67,2019,4,15,15,20,...,40,NaN,NaN,S,12,20,1011.13,78,48,NaN
2,ALTU,Altus,OK,34.59,-99.34,2019,4,15,15,20,...,39,NaN,82,SSW,19,26,1007.86,82,45,NaN
3,ALV2,Alva,OK,36.71,-98.71,2019,4,15,15,20,...,32,NaN,82,S,20,26,1004.65,84,40,NaN
4,ANT2,Antlers,OK,34.25,-95.67,2019,4,15,15,20,...,35,NaN,NaN,S,11,20,1013.64,78,38,NaN
5,APAC,Apache,OK,34.91,-98.29,2019,4,15,15,20,...,41,NaN,NaN,S,23,29,1008.9,80,49,NaN
6,ARD2,Ardmore,OK,34.19,-97.09,2019,4,15,15,20,...,41,NaN,NaN,S,18,26,1011.43,77,50,NaN
7,ARNE,Arnett,OK,36.07,-99.90,2019,4,15,15,20,...,10,NaN,85,SW,22,32,1005.13,NaN,NaN,NaN
8,BEAV,Beaver,OK,36.80,-100.53,2019,4,15,15,20,...,9,NaN,84,SW,17,26,1003.9,91,34,NaN
11,BLAC,Blackwell,OK,36.75,-97.25,2019,4,15,15,20,...,38,NaN,NaN,SSW,15,23,1007.02,80,44,NaN
20,BYAR,Byars,OK,34.85,-97.00,2019,4,15,15,20,...,43,NaN,NaN,S,22,32,1010.64,77,49,NaN
21,CAMA,Camargo,OK,36.03,-99.35,2019,4,15,15,20,...,32,NaN,82,S,23,29,1005.56,NaN,NaN,NaN
22,CARL,Lake Carl Blackwell,OK,36.15,-97.29,2019,4,15,15,20,...,36,NaN,80,S,17,25,1007.56,80,50,NaN
24,CHAN,Chandler,OK,35.65,-96.80,2019,4,15,15,20,...,37,NaN,NaN,SSW,16,27,1009.35,80,48,NaN
28,CLAY,Clayton,OK,34.66,-95.33,2019,4,15,15,20,...,36,NaN,NaN,S,9,24,1012.9,78,40,NaN

In [68]:
idx = df['NAME'].str.contains('Blackwell') & df['NAME'].str.contains('Lake')
df[idx]

# The following line won't work
# idx = df['NAME'].str.contains('LAKE')

,STID,NAME,ST,LAT,LON,YR,MO,DA,HR,MI,...,RELH,CHIL,HEAT,WDIR,WSPD,WMAX,PRES,TMAX,TMIN,RAIN
22,CARL,Lake Carl Blackwell,OK,36.15,-97.29,2019,4,15,15,20,...,36,NaN,80,S,17,25,1007.56,80,50,NaN

In [69]:
idx = df['NAME'].str.contains('Blackwell') | df['NAME'].str.contains('Lake')
df[idx]

,STID,NAME,ST,LAT,LON,YR,MO,DA,HR,MI,...,RELH,CHIL,HEAT,WDIR,WSPD,WMAX,PRES,TMAX,TMIN,RAIN
11,BLAC,Blackwell,OK,36.75,-97.25,2019,4,15,15,20,...,38,NaN,NaN,SSW,15,23,1007.02,80,44,NaN
22,CARL,Lake Carl Blackwell,OK,36.15,-97.29,2019,4,15,15,20,...,36,NaN,80,S,17,25,1007.56,80,50,NaN

In [66]:
idx = df['STID'].isin(['ACME','ALTU'])
df[idx]

,STID,NAME,ST,LAT,LON,YR,MO,DA,HR,MI,...,RELH,CHIL,HEAT,WDIR,WSPD,WMAX,PRES,TMAX,TMIN,RAIN
0,ACME,Acme,OK,34.81,-98.02,2019,4,15,15,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALTU,Altus,OK,34.59,-99.34,2019,4,15,15,20,...,39,NaN,82,SSW,19,26,1007.86,82,45,NaN