In [1]:
# API International Space Station
import pandas as pd
data = pd.read_json('https://api.wheretheiss.at/v1/satellites/25544/positions?timestamps=1436029892,1436029902&units=miles')
data.head(5)

,altitude,daynum,footprint,id,latitude,longitude,name,solar_lat,solar_lon,timestamp,units,velocity,visibility
0,253.411496,2.457208e+06,2761.996387,25544,-24.870148,17.599508,iss,22.854651,283.220433,2015-07-04 17:11:32,miles,17148.554081,daylight
1,253.532703,2.457208e+06,2762.623498,25544,-25.344257,18.046637,iss,22.854641,283.178772,2015-07-04 17:11:42,miles,17148.247302,daylight